body {
    background-color: cadetblue;
}

table, th, td {
    border: 1px solid black;
}

#stats_table {
    visibility: hidden;
}

#submit {
    margin-top: 1em;
    background-color: green;
}

table {
    background-color: beige;
}

th, td {
    padding-right: 1em;
}
